*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --container-width: 1140px;
  --clr-primary: #38529a;
  --clr-secondary: #56565a;
  --clr-black: #000000;
  --grid-col-size: 250px;
  --margin: 5rem;
  --margin-mb: 1.5rem;
}

.d-container h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1.1 !important;
}

/* Utility classes */

.d-container {
  margin: 2rem auto;
  width: min(90%, var(--container-width));
}

/* Flex */

.d-flex {
  display: flex;
}

.d-flex-cols {
  flex-direction: column;
}

.d-flex-justify-between {
  justify-content: space-between;
}

.d-flex-justify-center {
  justify-content: center;
}

.d-flex-align-center {
  align-items: center;
}

/* Grid */

.d-grid {
  display: grid;
}

.d-grid-cols {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, var(--grid-col-size)), 1fr)
  );
}

.d-w-full {
  width: 100%;
}

.d-w-30 {
  width: 30%;
}

.d-w-50 {
  width: 50%;
}

.d-rounded {
  border-radius: 1rem;
}

.d-picture {
  height: 100%;
}

.d-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d-button {
  padding: 0.5rem 1rem;
  font-size: 18px;
  border: none;
  color: white;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.d-mt-auto {
  margin-top: auto;
}

.d-mx-auto {
  margin-inline: auto;
}

.d-text-align-center {
  text-align: center;
}

/* SPACING */

.d-spacing-400 {
  margin-block: 5rem;
}

.d-spacing-300 {
  margin-block: 3rem;
}

@media (width < 900px) {
  .d-spacing-400 {
    margin-block: 1.25rem;
  }

  .d-spacing-300 {
    margin-block: 2rem;
  }
}

/* GAPS */

.d-gap-200 {
  gap: 0.5rem;
}

.d-gap-300 {
  gap: 1rem;
}

.d-gap-400 {
  gap: 1.25rem;
}

.d-gap-500 {
  gap: 1.5rem;
}

/* List */

ul.d-list {
  padding: 0;
}

ul.d-list__marker {
  list-style-type: "-";
  list-style-position: inside;
}

.d-list__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* FIGURES */

.d-figures {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.d-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
  color: var(--clr-secondary);
}

.d-figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
}

/* COLORS */

.d-clr-primary {
  color: var(--clr-primary);
}

.d-clr-secondary {
  color: var(--clr-secondary);
}

.d-clr-black {
  color: var(--clr-black);
}

/* FONTS */

.d-fz-400 {
  font-size: clamp(1rem, 5vw, 1.1rem);
}

.d-fz-500 {
  font-size: clamp(1.5rem, 5vw, 1.6rem);
}

.d-fz-600 {
  font-size: clamp(1rem, 5vw, 2.25rem);
}

/* PADDINGS-MARGINS */

.d-p-0 {
  padding: 0;
}

.d-mx-auto {
  margin-inline: auto;
}

.d-mt-auto {
  margin-top: auto;
}

/* OVERLAY */

.d-desc-stack {
  grid-area: 1/1/2/2;
}

.d-order-first {
  grid-row-start: 1;
}

/* TEXT */

.d-text-center {
  text-align: center;
}

/* Custom classes */

.d-gap-600 {
  gap: 5rem;
}

.d-p-400 {
  padding: 1.25rem;
}

.d-pl-600 {
  padding-left: 5rem;
}

.d-button_primary {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--clr-primary);
}

a {
  text-decoration: none;
}

.d-quote {
  position: relative;
  width: 70%;
}

.d-quote::before {
  position: absolute;
  top: -20px;
  height: 30px;
  transform: rotate(180deg);
  color: var(--clr-primary);
  font-size: clamp(4rem, 5vw, 6rem);
}

.d-quote::after {
  content: "";
}

.d-bold {
  font-weight: 700;
}

.d-row-gap {
  row-gap: 40px;
}

.d-col-gap {
  column-gap: 20px;
}

.d-image-round {
  width: 140px;
  aspect-ratio: 1/1;
}

.d-my-600 {
  margin-block: 5rem;
}

.d-my-700 {
  margin-block: 5.5rem;
}

.d-footer-link {
  color: var(--clr-primary);
  position: relative;
  width: fit-content;
  text-decoration: underline;

  &::after {
    position: absolute;
    right: -65px;
    content: url("images/cursor.webp");
  }
}

@media (width < 900px) {

  .d-w-full-mb {
    width: 100%;
  }

  .d-reverse {
    row-gap: 3rem;
  }
  .d-reverse .d-picture {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .d-w-50 {
    width: 100%;
  }
  .d-footer-link {
    width: 70%;
  }

  .d-pl-600 {
    padding: 0
  }
  .d-my-600 {
    margin-block: 2rem;
  }
}
